* {
    margin: 0%;
    padding: 0;
}

body {
    background-image: url(bg_pc.jpg);
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: gainsboro;
}

.navigation {
    list-style-type: none;
    padding-top: 2%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.navigation li {
    color: white;
    display: inline-block;
}

.navigation .subtitle-index {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 150%;
    font-family: helvetica;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10%;
}

.navigation .subtitle-index a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.sns {
    padding-top: 1%;
    padding-right: 1%;
    width: 5%;
    border-radius: 25px;
}

marquee {
    font-size: 250%;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 2%;

}

.main {
    width: 100%;
    height: auto;
}

.navigation2 {
    background-color: #f46593;
    list-style-type: none;
}

.navigation2 li {
    color: white;
    display: inline-block;
}

.navigation2 .softsubs, .hardsubs, .credits {
    color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 170%;
    font-family: helvetica;
}

.navigation2 .story {
    background-color: white;
    color: black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: helvetica;
    font-size: 170%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25%;
}

.navigation2 .story a {
    text-decoration: none;
    color: black;
}

.navigation2 .softsubs a {
    text-decoration: none;
    color: white;
}

.navigation2 .hardsubs a {
    text-decoration: none;
    color: white;
}

.navigation2 .credits a {
    text-decoration: none;
    color: white;
}

vl {
  border-left: 6px solid white;
  height: 200%;
}

c {
    font-size: 50%;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.gifs .gif-buttons {
    list-style-type: none;
    display: inline-block;
    margin: 1%;
}

.first-h1 {
    margin-top: 10%;
}

H1 {
    color: black;
    font-size: 250%;
    font-family: helvetica;
    margin: 5%;
}

.synopsis, .story1 {
    margin: 5%;
}

.synopsis {
    color: black;
    font-family: helvetica;
    font-size: 220%;
    margin-top: 10%;
    margin-bottom: 10%;
}

d {
    background-color: #30aeec;
    color: white;
}

.division {
    width: 70%;
}

.story1-title {
    margin-top: 10%;
}

.story1-pictures li {
    list-style-type: none;
    display: inline-block;
}

.one, .two, .three {
    width: 30%;
    height: auto;
    margin-top: 5%;
}

.story1 {
    color: black;
    font-family: helvetica;
    font-size: 250%;
    margin-top: 10%;
    margin-bottom: 10%;
}