* {
    margin: 0%;
    padding: 0;
}

body {
    background-image: url(bg-pc.jpg);
    background-size: cover;
}

nav {
    background-color: gainsboro;
}

.navigation {
    list-style-type: none;
    padding-top: 2%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.navigation li {
    color: white;
    display: inline-block;
}

.navigation .subtitle-index {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 150%;
    font-family: helvetica;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10%;
}

.navigation .subtitle-index a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.sns {
    padding-top: 1%;
    padding-right: 1%;
    width: 5%;
    border-radius: 25px;
}

marquee {
    font-size: 250%;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 2%;

}

.main {
    width: 100%;
}

.navigation2 {
    background-color: #86d4de;
    list-style-type: none;
}

.navigation2 li {
    display: inline-block;
}

.navigation2 .story {
    font-size: 170%;
    font-family: helvetica;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.navigation2 .softsubs, .credits {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 170%;
    font-family: helvetica;
}

.navigation2 .hardsubs {
    background-color: white;
    color: black;
    font-family: helvetica;
    font-size: 170%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.story-button {
    object-fit: cover;
}

.navigation2 .story a {
    text-decoration: none;
    color: white;
}

.navigation2 .softsubs a {
    text-decoration: none;
    color: white;
}

.navigation2 .hardsubs a {
    text-decoration: none;
    color: black;
}

.navigation2 .credits a {
    text-decoration: none;
    color: white;
}

vl {
    border-left: 6px solid white;
    height: 200%;
  }

c {
    font-size: 50%;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

H1 {
    color: white;
    font-size: 250%;
    font-family: helvetica;
}

.division {
    width: 70%;
}

.story1-title {
    margin-top: 10%;
}

.story1-pictures li {
    list-style-type: none;
    display: inline-block;
}

.one, .two, .three {
    width: 30%;
    height: auto;
    margin-top: 5%;
}

.story1 {
    color: white;
    font-family: helvetica;
    font-size: 220%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.gifs .gif-buttons {
    list-style-type: none;
    display: inline-block;
    margin: 1%;
}


.episode1 {
    font-size: 250%;
    font-family: Helvetica;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5%;
}

.story1-title, .story1-pics, .story1, .episode1, .episode1-video {
    margin: 5%;
}

.episode1-video {
    margin-bottom: 10%;
}

.DOWNLOAD {
    background-color: #86d4de;
    color: white;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

.downloada {
    text-decoration: none;
}