* {
    margin: 0%;
    padding: 0;
}

body {
    background-image: url(main-bg.png);
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: gainsboro;
}

.navigation {
    list-style-type: none;
    padding-top: 2%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.navigation li {
    color: white;
    display: inline-block;
}

.navigation .subtitle-index {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    font-family: helvetica;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10%;
}

@media screen and (min-width: 400px) {
    .subtitle-index {
      font-size: 25px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 400px) {
    .subtitle-index {
      font-size: 16px;
    }
  }

.navigation .subtitle-index a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.sns {
    padding-top: 1%;
    padding-right: 1%;
    width: 5vh;
    border-radius: 25px;
}

marquee {
    font-size: 250%;
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 2%;

}

.main {
    width: 100%;
    height: auto;
}

.navigation2 {
    background-color: rgb(204, 0, 0);
    list-style-type: none;
}

.navigation2 li {
    color: white;
    display: inline-block;
}

.navigation2 .softsubs, .hardsubs {
    color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 170%;
    font-family: helvetica;
}

.navigation2 .credits {
    background-color: white;
    color: black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: helvetica;
    font-size: 170%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25%;

}

.navigation2 .story {
    color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: helvetica;
    font-size: 170%;
}

.navigation2 .story a {
    text-decoration: none;
    color: white;
}

.navigation2 .softsubs a {
    text-decoration: none;
    color: white;
}

.navigation2 .hardsubs a {
    text-decoration: none;
    color: white;
}

.navigation2 .credits a {
    text-decoration: none;
    color: black;
    background-color: white;
}

vl {
  border-left: 6px solid white;
  height: 200%;
}

c {
    font-size: 50%;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.credit-pic {
    border-radius: 50px;
    width: 90%;
}
